{% extends 'club/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Add Booking
{% endblock %}

{% block content %}

    {% for message in messages %}
    <div class="{% if message.tags == 'success' %}alert alert-success{% elif message.tags == 'error' %}alert alert-danger{% endif %}">
    
      {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
    
    </div>
{% endfor %}


<div class="row">
    <div class="col col-lg-3 col-md-3">
        <form action="" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Add">
        </form>
    </div>  
</div>

{% endblock %}